{% extends 'shop/base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block title %}Заказ оформлен{% endblock %}

{% block page_header %}
    <h1>Заказ оформлен</h1>
{% endblock %}

{% block content %}
    <div class="ordered-container">
        <h2 class="order-success-message">Спасибо за заказ! Ожидайте.</h2>
        <a href="{% url 'shop:index' %}" class="btn btn-success btn-go-home">
            <strong>На главную</strong>
            <img src="{% static 'shop/images/cart/img_1.png' %}" alt="kaban">
        </a>
    </div>
    <link rel="stylesheet" href="{% static 'shop/css/ordered_styles.css' %}">
{% endblock %}