{% extends 'shop/base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block title %}{{product}}{% endblock %}

{% block page_header %}
    <h1><a href="{% url 'shop:category' category.category_slug %}">{{category}}</a></h1>

{% endblock %}

{% block content %}
    <h3>{{product}}</h3>
    <p>{{product.description|linebreaks}}</p>
    <p>{{product.price}} Р</p>
    <!--Ссылку закодим потом-->
    <a href="{% url 'shop:order' category.category_slug product.product_slug %}"
       class="btn btn-lg btn-success">В корзину</a>
    {% if product_photo %}
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                {% for photo in product_photo %}
                    <div class="swiper-slide">
                        <figure>
                            <img src="{{photo.photo.url}}" alt="{{photo}}_photo" width="200px">
                        </figure>
                    </div>
                {% endfor %}
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    {% endif %}


    <link rel="stylesheet" href="{% static 'slider/css/swiper-bundle.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'slider/css/slider.css' %}">

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="{% static 'slider/js/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'slider/js/slider.js' %}"></script>


{% endblock %}
